body {
    background-color: #ddd;
    font-family: Helvetica;
}

p {
	margin: 0;
}

#main {
    width: 75vw;
    background-color: white;
    margin: auto;
    margin-top: 3vh;
    padding: 20px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.menuitemout {
    float: right;
}

.menuitemin {
    display: block;
    color: #eee;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
}

.menuitemin:hover {
    background-color: #222;
}

#title{
    text-decoration: none;
	color: 111;
}

#content {
	margin: calc(1vh + 1vw);
}

#timeline {
    display: grid;
    grid-column-gap: 1.5vw;
    grid-template-columns: 1fr 0.15fr 10fr;
}

.tl_date {
    text-align: right;
	margin-bottom: 2em;
}

.tl_stripe {
    background: rgb(210 220 255);
    position: relative;
}